.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.containerNonManager {
  max-width: 600px;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}

.address {
  background: #242424;
  color: #fff;
  padding: 2px 5px;
}

.makeMeManagerButton {
  margin-top: 30px;
}
